APP_NAME=Cards
APP_ENV=production
APP_URL=https://cards.lndo.site
TWIG_PATH=/app/templates
DB_HOST=database
DB_USER=lamp
DB_PASSWORD=lamp
DB_NAME=lamp
JWT_SECRET=change_this_to_a_random_secret_key
LOGO_DEV_TOKEN=pk_...
LOGO_DEV_SECRET=sk_...